
.wrapper-header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 44px;
}

.wrapper-header .items-header {
  padding-left: calc(max(22px, env(safe-area-inset-left)));
  padding-right: calc(max(22px, env(safe-area-inset-right)));
  max-width: 980px;
  margin: 0 auto;
}

.wrapper-header .items-header .item a, i{
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px
}

.wrapper-header-scroll {
  height: 52px;
}
.style-hr {
  max-width: 980px;
  margin: 0 auto;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.72)l
}
.wrapper-header-scroll .header-scroll {
  max-width: 980px;
  margin: 0 auto;
}
.wrapper-header-scroll .header-scroll .title-prod h2{
  font-size: 21px;
  font-weight: bold;
}

.wrapper-header-scroll .header-scroll .sub-menu{
  width: 200px;
}
.wrapper-header-scroll .header-scroll .sub-menu .item-sub a{
  /* font-size: 12px; */
}
.wrapper-header-scroll .header-scroll .sub-menu .item-sub:last-child{
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);

}
