/* .wrapper-intro-prod {
  margin-top: 1100px;
  margin-bottom: 180px;
  text-align: center;
  line-height: 0.25;
}

.wrapper-intro-prod h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: .002em;
}

.wrapper-intro-prod a {
  display: inline-block;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  color: #1d1d1f;
  margin-top: 22px;
} */